.memesContainer {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 24px;
}

.memesImage {
    border-radius: 16px;
    object-fit: contain;
    max-width: 360px;
    max-height: 360px;
}

.body {
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 16px;
}